
:root{
    --primary--color:#213159;
    --secondary--color: #3d6098;
    --button--color: #f04b4c;
    --background--color: #e7e7e7;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Jost";
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 5px;
}

/* Logo */

.logocenter img {
    width: 100px;
}

/* Form setup */
form {
    text-align: center;
}

/* Label */
label{
    display: block;
   
    text-align: left;
    
}

/* Input */
input[type=text], input[type=password]{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
    background-color: var(--button--color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0 0;
    border: none;
    cursor: pointer;
    width: 300px;
}

/* Navigation */
.logocenter{
    position: relative;
    margin: 0 auto;
}

nav {
    display: flex;
    background-color: var(--primary--color);
    position: relative;
    text-align: center;
    padding: 15px 30px;
}

.grid{
    display: grid;
}

.bg-photo{
    position: absolute;
    z-index: -1;
    background-image: url(/IMG/bgcomputer.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Item Container */

/* LOGIN PAGE */
.container1{
    position: static;
    width: 450px;
    padding: 0px;
    background: rgb(61, 96, 152, 0.8);
    filter: blur(100%);
    margin: 120px auto;
    justify-content: center;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
}



.register_container{    
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: rgb(231, 231, 231);
}

.register_container label{
    font-weight: 300;
}

.register_container a{
    color: #ffffff;
    font-weight: 500;
}

/* SIGNUP */


.bgRegister_container{
    position: static;
    width: 650px;
    background: rgb(61, 96, 152, 0.8);
    filter: blur(100%);
    margin: 120px auto;
    justify-content: center;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.bgRegister_container h2{
    margin-top: 0;
}

.sign_container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sign_container a{
    color: #ffffff;
    font-weight: 500;
}

.sign_container p{
    font-weight: 300;
}

.name_input{
    display: flex;
    justify-content: space-between;
}

.name_input input{
    display: block;
    width: 145px;
}

.colorful {
    background-color: green;
    animation-name: button;
    animation-duration: 5s;
  }
  
  @keyframes button {
    0%   {background-color:green;}
    25%  {background-color:red;}
    50%  {background-color:yellow;}
    75%  {background-color:blue;}
    100% {background-color:green;}
  }


.userError{
    background-color: green;
    position: relative;
    animation-name: error;
    animation-duration: 5s;
    border: 4px black;
    transition: 5s;

    
}

@keyframes error {
    0%   {top:-600px;}
    100%  {top:0px;}
}
  



