:root {
    --primary--color: #213159;
    --secondary--color: #3d6098;
    --button--color: #f04b4c;
    --background--color: #e7e7e7;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Jost";
}

#logolink {
    color: white;
    text-decoration: none; 
    margin: 0 auto;
}
#logolink img{
    width: 100px;
}

nav {
    display: flex;
    background-color: var(--primary--color);
    top: 0;
    text-align: center;
    padding: 15px 30px;
    overflow: hidden;
    z-index: 1;
}

.grid{
    display: grid;
}

/* Search Box */

.searchbox {
    display: flex;
    margin: 0px auto 0;
    align-self: center;
}

.searchbox button {
    height: 56px;
    width: 55px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: white;
    background-color: #204B7E;
    border-radius: 0 5px 5px 0;
}

.searchbox img {
    height: 25px;
}

.searchbox input {
    outline: none;
    height: 56px;
    width: 746px;
    padding-left: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.container1 {
    position: relative;
    border: solid 1px white;
    background-color: #E4E4E4;
    margin-top: 0%;
    margin: 0 auto;
    max-width: 1460px;
    height: 100%;
    padding-bottom: 40px;
    overflow: hidden;
} 

.order_container{
    display: flex;
    justify-content: space-between;
}

.order-message_container{
    margin: 50px 15px 0;
    background-color: #fff;
    padding-top: 40px;
    border-radius: 20px 20px 0 0;
}

.order_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #57C261;
    margin-top: 20px;
}

.order_title img{
    width: 160px;
}

.order_title h1{
    margin-left: 10px;
}

.user_greet{
    margin-left: -50px;
}

.confirm_message{
    margin: 60px auto 0;
    width: 1000px;
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.ordered_items{
    margin-left: 10px;
}

.cart__items{
    display: flex;
    height: 180px;
    width: 950px;
    background-color: #FFF;
    margin: 10px 5px 0;
}

.cart__items label{
    align-self: center;
    font-size: 1.5rem;
    margin-left: 10px;
}

.cart__items input{
    margin: 0 8px;
}

.item__name{
    text-align: center;
    font-size: 1.6rem;
    margin: auto 0;
    flex: 1;
}

.product__price{
    color: #57C261;
    font-size: 1.6rem;
    text-align: center;
    align-self: center;
    flex: 0.50;
}

.price--delete{
    text-align: center;
    align-self: center;
    flex: 0.50;
}


.item__quantity{
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    align-self: center;
    border: none;
    border-radius: 8px;
}

.order_receipt{
    position: sticky;
    justify-self: end;
    width: 465px;
    height: 500px;
    background-color: #FFF;
    margin-top: 10px;
    margin-right: 15px;
    overflow: hidden;
}

.order_receipt h2{
    margin-top: 30px;
}

.order_detail{
    padding: 10px;
    margin-top: 8px;
    line-height: 1.2rem;
}
.order_detail p{
    margin-top: 2px;
}

.greenStyle{
    position: absolute;
    height: 35px;
    width: 500px;
    background-color: var(--secondary--color);
}

.price__section{
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #ccc;
}

.price__section p{
    margin-top: 10px;
}

.subtotal_price{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: end;
    color: #57C261;
}
