body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.logo {
    
}

nav {
    display: flex;
    background-color: #57C261;
    position: relative;
    text-align: center;
    padding: 15px 30px;
}

.searchbox{
    position: relative;
    margin: 0 auto;
}


.searchbox input {
    outline: none;
    height: 56px;
    width: 746px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.container1 {
    border: solid red;
    height: 100vh;
    background-color: #E4E4E4;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
} 

.items {
    border: solid;
}

.items img {
    float: left; 
    height: 150px;
    width: 206px;
    margin: 1%;
}

